= render 'shared/header'
.custom-form
  %h2.form-title 新規登録
  .form-container
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :プロフィール写真
        .field.image
          // id "file"で、fileとdivを紐付けクリック時に連動
          #regitration_img_field{:onclick => "$('#regitration_file').click()"}
            // 画像があるときは画像を表示する
            -# -if user_signed_in?
            - if @user.image.url.present?
              = image_tag(@user.image.url)
            - else
              = icon('fas', 'camera')
          = f.file_field :image, class: "regitration_image", style: "display:none;", id: "regitration_file"

        %br/
      .field
        = f.label :ユーザーネーム
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "田中ユウキ"
      .field
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "street@example.com"
      .field
        = f.label :パスワード
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "password"
      .field
        = f.label :パスワードの再入力
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password"
      .field
        = f.label :Instagramのアカウント名
        %br/
        = f.text_field :url, autocomplete: "url", placeholder: "spascurry"
      .field
        = f.label :プロフィール
        %br/
        = f.text_area :profile, autocomplete: "profile", placeholder: "1990年2月生まれ。\n\n所属：Fusion of Gumbit\n得意な技：アクロバット\n苦手なこと：ダンス\n\n休日気軽に練習できる仲間を探しています！\nよろしくお願いいたします！"
      .actions
        = f.submit "アカウントを作成する", class: "btn"
      = render "devise/shared/links" 
  = render 'shared/footer'