= render 'shared/header'
.content_box
  .user_info
    .user_info__upper
      .user_icon
        = image_tag @user.image.url, class: "user_icon__content"
      .user_links
        .user_links__instagram
          = link_to "Instagramアカウント", "https://www.instagram.com/#{@user.url}", class: "link_btn_1"
        .user_links__admins
          -if @user.id == current_user.id
            .user_links__edit_prof
              = link_to "編集する", edit_user_registration_path, class: "link_btn_2"
            .user_links__sign_out
              = link_to "ログアウト", destroy_user_session_path, class: "link_btn_2"
          - else
            .user_links__request
              = render 'shared/request_btn'
            .user_links__chat
              = render 'shared/chat_btn'
    .user_info__text_box
      .user_info__text_box--name
        = @user.name
      .user_info__text_box--others
        = simple_format(@user.profile)

    .user_info__lower
      %ul.user_tabs
        %li.user_tabs__item.active 作成したイベント
        %li.user_tabs__item リクエスト済
        %li.user_tabs__item リクエストされた
        %li.user_tabs__item マッチ中
      -# 作成したイベント
      .user_cards_box.show
        - @events.each do |event|
          = link_to event_path(event.id), class: "event_links" do
            .event_mini_card
              = image_tag event.image.url, class: "event_mini_card__icon"
              .event_mini_card__name
                = event.name.truncate(14)
      
        -# リクエスト済みのユーザー
      .user_cards_box
        - @following_users.each do |user|
          = link_to user_path(user), class: "user_link" do
            .user_card
              .user_card__icon
                = image_tag user.image.url, class: "user_card__icon--content"
              .user_card__name
                = user.name

      -# リクエストされたユーザー
      .user_cards_box
        - @followed_users.each do |user|
          = link_to user_path(user), class: "user_link" do
            .user_card
              .user_card__icon
                = image_tag user.image.url, class: "user_card__icon--content"
              .user_card__name
                = user.name

      -# マッチング中のユーザー
      .user_cards_box
        - @matchers.each do |user|
          = link_to user_path(user), class: "user_link" do
            .user_card
              .user_card__icon
                = image_tag user.image.url, class: "user_card__icon--content"
              .user_card__name
                = user.name
= render 'shared/footer'