= render 'shared/header'

.content_box
  .user_info
    .user_info__upper
      .user_icon
        = image_tag @user.image.url, class: "user_icon__content"
      .user_links
        .user_links__instagram
          = link_to "Instagramアカウント", "https://www.instagram.com/#{@user.url}", class: "link_btn_1"
        .user_links__admins
          -if @user.id == current_user.id
            .user_links__edit_prof
              = link_to "編集する", edit_user_registration_path, class: "link_btn_2"
            .user_links__sign_out
              = link_to "ログアウト", destroy_user_session_path, class: "link_btn_2"
          - else
            = render 'shared/request_btn'

    .user_info__text_box
      .user_info__text_box--name
        = @user.name
      .user_info__text_box--others
        = simple_format(@user.profile)

    .user_info__lower

= render 'shared/footer'