- @events.each do |event|
  = link_to event_path(event), class: "event_link" do
    .event_card
      .event_card__upper
        .event_image
          = image_tag event.image.url ,class: "event_image__content"
      .event_card__lower
        .event_name
          = event.name
        .event_date
          日にち：
          = event.date
        .event_time
          時間　：
          = event.time
        .event_place
          場所　：
          = event.place
