- @events.each do |event|
  = link_to event_path(event), class: "event_link" do
    .event_card
      .event_card__upper
        .event_image
          = image_tag event.image.url ,class: "event_image__content"
      .event_card__lower
        .event_name
          = event.name.truncate(20)
        .event_date
          日にち：
          = event.date.truncate(20)
        .event_time
          時間　：
          = event.time.truncate(20)
        .event_place
          場所　：
          = event.place.truncate(20)
