- @events.each do |event|
  = link_to event_path(event), class: "event_link" do
    .event_card
      .event_card__upper
        .event_image
          = image_tag event.image.url ,class: "event_image__content"
      .event_card__lower
        .event_name
          = event.name.truncate(19)
        .event_date
          日にち：
          = event.date.strftime("%Y年%m月%d日")
        .event_time
          時間　：
          = "#{event.open_time}".slice(11..15)
          〜
          = "#{event.end_time}".slice(11..15)
        .event_place
          場所　：
          = event.place.truncate(15)
= paginate(@events)
