= render 'shared/header'

-# モーダル
.modal.js_modal
  .modal__bg.js_modal_close
  .modal__content
    %p ストリートスポーツのマッチングアプリです！
    %br/
    %p マッチングした相手とはアプリ内でチャットをすることができるので、一緒にイベントに出演するメンバーを探したり、練習相手を探すことができます。
    .js_modal_close
      =icon('fas', 'times')
      とじる
-# トップメッセージ
.content_box
  .top_image
    %p.top_message.js_modal_open
      一緒にプレイできるチームメイトを探してみよう！
      %br
      STREET CONNECTとは？
  .content_title
    イベント一覧
  .search_form
    %input#event_seach_field{:placeholder => "気になるイベントを検索してみよう", :type => "text"}/
  
  .user_info__lower
  %ul.skill-list.jscroll#event_search_result
    .cards_box#event_index
      = render 'event_cards'
  
  -# イベント作成ボタン
  = link_to new_event_path , class: "event_post_path" do
    .event_post
      .event_post__btn
        %p.event_post__btn--text
          イベント作成
        .event_post__btn--icon
          = icon('fas', 'plus')

= render 'shared/footer'