= render 'shared/header'
.content_box
  .top_image
    %p.top_message
      一緒にプレイできるチームメイトを探してみよう！
      %br
      STREET CONNECTとは？
  .content_title
    イベント一覧
  .search_form
    %input#event_seach_field{:placeholder => "気になるイベントを検索してみよう", :type => "text"}/
  #event_search_result
  %ul.cards_box#event_index
    = render 'shared/event_cards'
    = paginate(@events)
  
  - if user_signed_in?
    = link_to new_event_path , class: "event_post_path" do
      .event_post
        .event_post__btn
          %p.event_post__btn--text
            イベント作成
          .event_post__btn--icon
            = icon('fas', 'users-cog')
  - else
    = link_to user_session_path, class: "event_post_path" do
      .event_post
        .event_post__btn
          %p.event_post__btn--text
            イベント作成
          .event_post__btn--icon
            = icon('fas', 'users-cog')
    
= render 'shared/footer'