= render 'shared/header'
.content_box
  .top_image
    %p.top_message
      一緒にプレイできるチームメイトを探してみよう！
      %br
      STREET CONNECTとは？
  .content_title
    イベント一覧
  .search_form
    = link_to "検索", "#"
  %ul.cards_box
    = render 'shared/event_cards'
    = paginate(@events)
      
= render 'shared/footer'