= render 'shared/header'
.custom-form
  %h2.form-title イベントを作成
  .form-container
    = form_with model: @event, local: true do |f|
      .field
        = f.label :イメージ写真
        %br/
        .hidden_content
          .label_content
            %pre.label_box__text_visible クリックしてファイルをアップロード
            = f.file_field :image
      .field
        = f.label :イベント名
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Battle Of The Year"
      .field
        = f.label :開催場所
        %br/
        = f.text_field :place, autofocus: true, autocomplete: "name", placeholder: "〒150-0000 東京都渋谷区〇-〇 Aスタジオ"
      .field
        = f.label :開催日
        %br/
        .form_border_bottom
          = f.date_select :date, autofocus: true, autocomplete: "date"
      .field
        = f.label :時間
        %br/
        .form_border_bottom
          = f.time_select :open_time
          〜
          = f.time_select :end_time
      .field
        = f.label :詳細
        %br/
        = f.text_area :description, autofocus: true, autocomplete: "descroption", placeholder: "日本一を決める大会です"
      .actions
        = f.submit "イベントを作成する", class: "btn"
= render 'shared/footer'