= render 'shared/header'
.custom-form
  %h2.form-title イベントを作成
  .form-container
    = form_with model: @event, local: true do |f|
      .field
        = f.label :イメージ写真
        .field.image
          // id "file"で、fileとdivを紐付けクリック時に連動
          #img_field{:onclick => "$('#file').click()"}
            // 画像があるときは画像を表示する
            - if @event.image.url.present?
              = image_tag(@event.image.url)
            - else
              = icon('fas', 'camera')

          // id "file"をつけ、「display:none;」で隠す
          = f.file_field :image, class: "image", style: "display:none;", id: "file"

      .field
        = f.label :イベント名
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "バトルイベント"
        (75文字以内)
      .field
        = f.label :開催場所
        %br/
        = f.text_field :place, autofocus: true, autocomplete: "place", placeholder: "〒150-0000 東京都渋谷区〇-〇 Aスタジオ"
      .field
        = f.label :開催日
        %br/
        .form_border_bottom
          = f.date_select :date, autofocus: true, autocomplete: "date"
      .field
        = f.label :開始時間
        %br/
        .form_border_bottom
          = f.time_select :open_time
      .field
        = f.label :終了時間
        %br/
        .form_border_bottom
          = f.time_select :end_time
      .field
        = f.label :詳細
        %br/
        = f.text_area :description, autofocus: true, autocomplete: "descroption", placeholder: "初心者からでも気軽に参加できるダブルダッチ1on1のバトルイベントです。\nターナーは運営側で用意しますので、体一つで挑戦できます。音を感じて楽しんでいってください！！"
      .actions
        = f.submit "イベントを作成する", class: "btn"
= render 'shared/footer'