.wrapper
  .room_header
    = link_to @other_user.name, user_path(@other_user.id), class: "room_header__name"
  .room_main
    - @messages.each do |message|
      - if message.user == current_user
        .self_message
          %span.self_content
            = message.content
      - else
        .other_message
          %span.other_content
            = simple_format(message.content)
  .room_footer
    = form_with(model: @message, url: messages_path, local: true) do |f|
      = f.hidden_field :room_id, value: @room.id
      = f.hidden_field :user_id, value: @self.id
      = f.text_field :content, placeholder: "Aa", class: 'chat_form'
      = f.submit 'Send', class: 'chat_send'
