!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: "viewport", content: "width = device-width, initial-scale = 1"}/
    %title Street Connect
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - unless user_signed_in?
      = link_to 'ゲストユーザーとしてログインして全機能を試す', users_guest_sign_in_path, method: :post, class: 'guest_login'
    = yield
